.header h1 {
    text-align: center;
    font-weight: bold;
    background-color: #F8E71C;
    color: #121212;
    border: solid 2px;
    padding: 22px;
    margin-top: 70px;
    margin-bottom: 46px;
}

.header p {
    text-align: center;
    color: #747474;
    font-size: 16px;
    margin-bottom: 55px;
}

section.row h3 {
    margin-bottom: 0;
    color: #131313;
}

section.row p {
    margin-top: 0;
    border-bottom: solid 2px #CCCCCC;
    min-height: 45px;
    color: #3A3A3A;

}
.pager-btn{
    margin: 60px 0;
}
.pager-btn li > a {
    width: 114px;
    height: 45px;
    line-height: 30px;
    font-size: 19px;
    border-radius: 8px;
    color: white;
    background-color: #BD10E0;
}

.pager-btn li > a:hover,
.pager-btn li > a:focus {
    color: white;
    background-color: #BD10E0;
    border: solid 1px #28032F;
    outline: none;
}



@media (max-width: 767px) {
    .header h1 {
        margin: -1px -15px 30px -15px;
        font-size: 25px;
    }
    .header p{
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .col-size{
        min-height: 130px;
    }
}
@media (min-width: 1200px){
    .block{
        padding: 0 150px;
    }
    .block .col-size:nth-child(3n+1){
        padding-right: 70px;
        padding-left: 0;
    }
    .block .col-size:nth-child(3n+3){
        padding-right: 0;
        padding-left: 70px;
    }
    .block .col-size:nth-child(3n+2){
        padding: 0 35px;
    }
    .header .col-sm-12{
        padding: 0;
    }
}